/* Default Set */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: aliceblue; */
}

/* End of Default Set */

/* Navbar Set */
nav {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  min-height: 80px;
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  z-index: 10;
}

.logo {
  margin-right: 50px;
  /* padding-left: 70px; */
  margin-left: 70px;
  /* background-color: blue; */
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 20%;
  font-size: 15px;
  /* transform: translateX(-50%) translateY(-50%) */
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.box select {
  background-color: white;
  color: #494A4A;
  padding: 10px;
  width: 190px;
  border: none;
  font-size: 15px;
  /* box-shadow: 0px 0px 5px rgba(0,0,0,.5); */
  /* -webkit-appearance: button; */
  outline: none;
  margin-left: 570px;
  font-weight: 200;
}
/* End of navbar set */

/* Background Set */
.background {
  background-image: url("https://lelogama.go-jek.com/component/hero/picture/HOME-PAGE.jpg");
  padding-bottom: 16%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-design h1 {
  font-size: 48px;
  font-weight: 700px;
  line-height: 58px;
  text-align: left;
  /* display: block; */
  color: rgb(255, 255, 255);
  padding: 150px 150px 30px 100px;
  font-weight: bold;
}

.text-design p {
  font-size: 28px;
  color: #F0B323;
  font-weight: 900;
  font-style: italic;
  padding: 0px 150px 25px 100px;
}

.text-design a {
  color: rgb(245, 245, 245);
  text-decoration: none;
  font-weight: bold;
  margin: 0px 150px 0px 100px;
  padding: 10px 32px 10px 32px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .35);
  font-size: 14px;
}

.text-design i {
  margin: 10px 10px 10px -10px;
}

.gojek-logo {
    justify-content: space-around;
}

.box-1 {
    margin: 100px;
    position: center;
    align-items: center;
}

.gojek-pict {
    float: left;
    width: 500px;
    border-radius: 15px;
    position: relative;
    margin: 0px 50px 0px 100px;
    z-index: -1;
}

.bungkus-1 {
    padding: 10px;
    margin: 0px 0px 0px 630px;
}

.box-1 h2 {
    margin: 30px 100px 20px 0px;
    font-size: 32px;
    font-weight: 800;
}

.box-1 p {
    text-align: left;
    margin-bottom: 25px;
    font-size: 16px;
}

.bungkus-1 a {
    text-decoration: none;
    font-weight: 900;
    color: #00AA13;
    font-size: 18px;
}

/* End of background set */

/* New Logo Set */

.gojek-logo {
  justify-content: space-around;
}

.box-1 {
  margin: 100px;
  position: center;
  align-items: center;
}

.gojek-pict {
  float: left;
  width: 500px;
  border-radius: 15px;
  position: relative;
  margin: 0px 50px 0px 100px;
  z-index: -1;
}

.bungkus-1 {
  padding: 10px;
  margin: 0px 0px 0px 630px;
}

.box-1 h2 {
  margin: 30px 100px 20px 0px;
  font-size: 32px;
  font-weight: 800;
}

.box-1 p {
  text-align: left;
  margin-bottom: 25px;
  font-size: 16px;
}

.bungkus-1 a {
  text-decoration: none;
  font-weight: 900;
  color: #00AA13;
  font-size: 18px;
}

/* End New Logo Set */

/* Card Set */

.h1-text {
  margin-left: 130px;
  line-height: 50px;
  padding-bottom: 30px
}

.h1-text2 {
  margin-left:130px;
  line-height: 40px;
}

.container{
  display : grid;
  margin: 20px 110px 20px 130px;
  grid-gap: 40px;
  text-align: center;
  line-height: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 50px; 
}

.container-1{
  display : grid;
  margin: 20px 110px 20px 130px;
  grid-gap: 30px;
  text-align: center;
  line-height: 25px;
  grid-template-columns: repeat(5, 1fr);
}

.container p {
  text-align: left;
  margin: 10px 20px;
}

.container-1 p {
  text-align: left;
  margin: 10px 20px;
}

.card1 {
  padding-top: 30px;
  border-radius: 5%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
}

/* End of card set */

/* Footer Set */

.bcg-foot {
  padding-top : 20px;
  padding-bottom: 20px;
  background-color : #1C1D1D;
}


.container-2 {
  display : grid;
  margin: 10px 100px 10px 110px;
  grid-gap: 10px;
  line-height: 20px;
  grid-template-columns: repeat(5, 1fr);
  color : white;
  font-size: 14px;
}

.code1 {
  padding: 0px 10px 80px 20px;
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.code1 img{
  padding-top: 10px;
  width: 200px;
}

.code2 {
  width: 100%;
  height: 100%;
  line-height: 30px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.code3 {
  width: 100%;
  height: 100%;
  line-height: 30px;
  grid-column-start: 4;
  grid-column-end: 5;
}

.code4 {
  width: 100%;
  height: 100%;
  line-height: 30px;
  grid-column-start: 5;
  grid-column-end: 6;
}

.code4 i {
  padding-right: 10px;
}

.code5 {
  width: 100%;
  height: 100%;
  line-height: 30px;
  grid-column-start: 6;
  grid-column-end: 7;
}

.code5 img {
  width: 150px;
}

.code6 {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding-top : 20px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.code7 {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding-top : 20px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.code8 {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding-top : 20px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.code9 {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding-top : 20px;
  grid-column-start: 4;
  grid-column-end: 5;
}

.code10 {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding-top : 20px;
  grid-column-start: 5;
  grid-column-end: 6;
}

/* Dropup menu */

.btn-cls {
  margin-left: 67em;
}

.dropbtn {
  background-color: #282929;
  color: white;
  border-radius: 20px;
  padding: 10px 50px 10px 30px;
  font-size: 14px;
  border: none;
}

.dropbtn i {
  margin-right: 10px;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #282929;
  min-width: 185px;
  bottom: 37px;
  z-index: 1;
}

.dropup-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropup:hover .dropup-content {
  display: block;
  border-radius: 20px;
}


.dropup-content a:hover {background-color: rgba(255, 255, 255, 0.2)}

.dropup:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Copyrigth */
hr {
  border: solid 1px white;
  margin : 10px 100px;
}

.ket-plus {
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
}

/* End of footer set */

/* ABOUT SETTING */

/* Semangat Set */
.ab-smgt {
  display: grid;
  padding-top : 120px;
  grid-template-columns: repeat(2, 1fr);
  color: rgb(46, 45, 45);
}

.ab-g1 {
  margin-left : 70px;
  margin-right: -180px;
}

.ab-g1 p{
  font-size: 14px;
  line-height: 25px;
}

.ab-g2 {
  text-align: center;
  margin-left: 100px;
}

.ab-g2  img{
  border-radius: 10px;
  width: 45%;
}

/* End of semangat set */

/* Sejarah */

.ab-smgt1 {
  display: grid;
  padding-top : 40px;
  grid-template-columns: repeat(2, 1fr);
  color: rgb(46, 45, 45);
}

.ab-g3 {
  text-align: left;
  margin-left: 70px;
  padding-top: 40px;
}

.ab-g3 img{
  border-radius: 10px;
  width: 45%;
}

.ab-g4 {
  margin-left : 70px;
  margin-left: -250px;
  margin-right: 160px;
}

.ab-g4 p{
  font-size: 14px;
  line-height: 25px;
}

/* End of sejarah set */

/* Pilar Set */
.ab-pilar{
  text-align: center;
  margin: 50px 0px;
}

.pilar-1{
  display : grid;
  margin: 20px 110px;
  grid-gap: 40px;
  text-align: center;
  line-height: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 50px; 
}

/* End od Pilar Set */

/* Layanan Set */
.ab-ly1 {
  display: grid;
  padding-top : 40px;
  grid-template-columns: repeat(2, 1fr);
  color: rgb(46, 45, 45);
}

.ab-lay1 {
  margin-left: 70px;
}

.ab-lay1 img{
  border-radius: 20px;
  width: 80%;
}

.ab-lay2 {
  margin-left: -80px;
  padding-top : 60px;
  margin-right: 200px;
  line-height: 20px;
}

.ab-lay3 {
  margin-left: 70px;
  margin-right: 30px;
}

/* End of layanan set */

/* Pengharagaan set*/
.ab-h1 {
  text-align: center;
  margin-top: 2em;
}

/* End of pengharagan set */

/* Official Set */
.of-grid {
  display: grid;
  margin : auto 70px;
  line-height: 30px;
  padding-top : 40px;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  color: rgb(46, 45, 45);
}

.of-grid1 {
  line-height: 35px;
}

.of-grid1 h2 {
  margin : 15px 0px;
}

.of-grid1 hr {
  border : solid #BBBBBB 0.5px;
  margin: 35px 190px 35px 0px;
}

.of-grid1 i {
  margin-right: 10px;
}

.of-grid2 {
  line-height: 35px;
}

.of-grid2 h2 {
  margin : 15px 0px;
}

.of-grid2 hr {
  border : solid #BBBBBB 0.5px;
  margin: 35px 190px 35px 0px;
}

.of-grid2 i {
  margin-right: 10px;
}

.of-grid3 {
  line-height: 35px;
}

.of-grid3 h2 {
  margin : 15px 0px;
}

.of-grid3 hr {
  border : solid #BBBBBB 0.5px;
  margin: 35px 190px 35px 0px;
}

.of-grid3 i {
  margin-right: 10px;
}


/* End of Official Set */

/* ABOUT CERDIKIAWAN */

/* About */
.cer-ab {
  margin: 70px 0px 10px 80px;
}

.ab-jadi {
  margin-bottom: 50px;
  line-height: 28px;
}

.ab-jadi h1 {
  line-height: 40px;
}

.ab-cer {
  margin-bottom : 50px;
}

.ab-cer img{
  width: 85%;
  height: 480px;
  margin-left : 100px;
  border-radius: 30px; 
}

.ab-lay3 button {
  border : solid 1px #4DAB18;
  color : #4DAB18;
  margin : 30px 5px;
  background-color: white;
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

.cer-img {
  background: url("./Assets/img/gojek1.png");
  padding-top : 6%;
  padding-bottom: 6%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cer-grid0 {
  display: grid;
  margin: 0px 80px;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.cer-grid1 {
  margin-top: 80px;
  color: white;
}

.cer-grid2 {
  margin-top : 10px;
  margin-left: 50px;
}

.cer-grid2 img{
  width: 80%;
  border-radius: 20px;
}

.cer-grid3 {
  margin-top : 10px;
  margin-left: 10px;
}

.cer-grid3 img{
  width: 70%;
  border-radius: 20px;
}





/* End of About */


